<h1>Editing directory</h1>

<% form_for(@directory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @directory %> |
<%= link_to 'Back', directories_path %>
