<h1>Listing directories</h1>

<table>
  <tr>
  </tr>

<% for directory in @directories %>
  <tr>
    <td><%= link_to 'Show', directory %></td>
    <td><%= link_to 'Edit', edit_directory_path(directory) %></td>
    <td><%= link_to 'Destroy', directory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New directory', new_directory_path %>
